.header-title{
    position: relative;
  left: 75px;
}

.icon-data {
    position: relative;
    height: 0px;
    z-index: 2;
  }

.tags-container{
    background: #7f99ff;
    width: 1078px;
    height: 52px;

   /* min-height: 43px;
  padding: 12px 16px;
  position: relative;
  white-space: normal;*/
  /***/
  margin-top: 45px;
  width:713px;
  overflow: hidden;
}



.tag-details{
  position: relative;
  //left: -18px;
  width:713px;
}

.iconImage{
  width: 48px;
  height: 48px;
  position: relative;
  left: 20px;
  top: 10px;
}

.h2textIcon{
    position: relative;
    top: -6px;
  }

  .heder-main{
    background-color: #7f99ff;
  display: flex;
  min-height: 43px;
  padding: 12px 16px;
  }