.image_slieder_contianer{
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.image_slieder_contianer .slick-dots{
  bottom: 20px;
}

.image_slieder_contianer .slick-prev{
  left: 0px;
  z-index: 1;
}

.image_slieder_contianer .slick-next{
  right: 0px;
  z-index: 1;
}