#main-slider-container {
  width: 1080px;
  height: 78px;
  position: relative;
  display: flex;
  align-items: center;
}

.\[\&_p\]\:my-6 p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

#slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar {
  display: none;
}

.slider-card {
  /*width: 117px;*/
  height: 78px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px; /* Adjust the margin as needed */
  margin-right: 20px; /* Adjust the margin as needed */
  cursor: pointer;
  text-align: center;
 /* background-color: white; /* Optional: Add background color if needed */
 /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow if needed */
}


.slider-card-title p {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

.slider-card-title {
  font-weight: 500;
  margin-top: 5px; /* Reduced margin for better centering */
}

.slider-card-description {
  opacity: 0.5;
  font-size: 13px;
}

.slider-card-image {
  width: 24px; /* เปลี่ยนแปลงขนาดตามที่คุณต้องการ */
  height: 24px; /* เปลี่ยนแปลงขนาดตามที่คุณต้องการ */
  background-color: transparent; /* ใช้สีพื้นหลังที่โปร่งใส */
  background-size: cover;
  background-position: center;
}

.slider-icon.left, .slider-icon.right {
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  z-index: 3; /* ให้ปุ่มมี z-index สูงกว่า */
}

.slider-icon.left {
  left: 0;
}

.slider-icon.right {
  right: 0;
}

.slider-icon.left:hover, .slider-icon.right:hover {
  opacity: 1;
}
