
.btn-slider{
  all:unset;
  display: block;
  position: absolute;
  top: 0; /*top0 + bottom0 = center*/
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  /*effect delay*/
  transition: background-color 100ms ease-in-out;
}
/** hover tone*/

.btn-slider:hover{
  background-color: rgb(0,0,0,0.2);
}

.btn-slider > * {
  stroke: wheat; /* กำหนดสีของเส้นขอบ (stroke) เป็น wheat */
  fill: black; /* กำหนดสีของพื้นที่ภายใน (fill) เป็นดำ */
  width: 2rem;
  height: 2rem;
}