/* styles.css */
span {
  color: gray; /* สีตัวอักษรปกติเป็นสีเทา */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อเอาเมาส์มาชี้ */
}

span:hover {
  color: rgb(0, 0, 0); /* สีเมื่อเอาเมาส์ชี้ */
}

span:active {
  color: rgb(0, 0, 0);  /* สีเมื่อคลิก */
}